trello/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleDataSource" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="Boards" type="tns:Boards" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Boards">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="BoardsItem" type="tns:BoardsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BoardsItem">
    <xs:attribute blend:FormatParameters="6" name="Id" type="xs:double" />
    <xs:attribute blend:FormatParameters="16,8" name="Desc" type="xs:string" />
    <xs:attribute blend:FormatParameters="4,12" name="Name" type="xs:string" />
    <xs:attribute name="IsPrivate" type="xs:boolean" />
    <xs:attribute name="Pinned" type="xs:boolean" />
  </xs:complexType>
</xs:schema>