trello/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleDataSource" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="Boards" type="tns:Boards" />
      <xs:element name="Cards" type="tns:Cards" />
      <xs:element name="BoardCard" type="tns:BoardCard" />
      <xs:element name="SimpleActivity" type="tns:SimpleActivity" />
      <xs:element name="CommentActivity" type="tns:CommentActivity" />
      <xs:element name="MyCards" type="tns:MyCards" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Boards">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="BoardsItem" type="tns:BoardsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BoardsItem">
    <xs:attribute blend:FormatParameters="6" name="Id" type="xs:double" />
    <xs:attribute blend:FormatParameters="16,8" name="Desc" type="xs:string" />
    <xs:attribute blend:FormatParameters="4,12" name="Name" type="xs:string" />
    <xs:attribute name="IsPrivate" type="xs:boolean" />
    <xs:attribute name="Pinned" type="xs:boolean" />
    <xs:attribute name="IsPinned" type="xs:boolean" />
    <xs:attribute name="Prefs" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Cards">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CardsItem" type="tns:CardsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CardsItem">
    <xs:sequence>
      <xs:element name="Labels" type="tns:Labels" />
      <xs:element name="Members" type="tns:Members" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="6" name="Id" type="xs:double" />
    <xs:attribute blend:FormatParameters="32,8" name="Desc" type="xs:string" />
    <xs:attribute blend:FormatParameters="12,8" name="Name" type="xs:string" />
    <xs:attribute name="Votes" type="xs:double" />
    <xs:attribute name="Voted" type="xs:boolean" />
    <xs:attribute blend:FormatParameters="1" name="CheckItems" type="xs:double" />
    <xs:attribute blend:FormatParameters="1" name="CheckItemsChecked" type="xs:double" />
    <xs:attribute blend:Format="Date" name="Due" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Labels">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="LabelsItem" type="tns:LabelsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LabelsItem">
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
    <xs:attribute name="Color" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Members">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="MembersItem" type="tns:MembersItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MembersItem">
    <xs:attribute blend:FormatParameters="Assets\Icons\dark" name="ImageUri" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
  <xs:complexType name="BoardCard">
    <xs:sequence>
      <xs:element name="Labels" type="tns:Labels1" />
      <xs:element name="Checklists" type="tns:Checklists" />
      <xs:element name="Attachments" type="tns:Attachments" />
      <xs:element name="Members" type="tns:Members1" />
      <xs:element name="Activities" type="tns:Activities" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="16,8" name="Name" type="xs:string" />
    <xs:attribute name="Votes" type="xs:double" />
    <xs:attribute name="CheckItems" type="xs:double" />
    <xs:attribute blend:FormatParameters="1" name="CheckItemsChecked" type="xs:double" />
    <xs:attribute blend:Format="Date" name="Due" type="xs:string" />
    <xs:attribute blend:FormatParameters="64,8" name="Desc" type="xs:string" />
    <xs:attribute name="Comments" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="Labels1">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="LabelsItem1" type="tns:LabelsItem1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LabelsItem1">
    <xs:attribute blend:Format="Colors" name="Color" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Checklists">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ChecklistsItem" type="tns:ChecklistsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChecklistsItem">
    <xs:sequence>
      <xs:element name="Items" type="tns:Items" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="4,3" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="1" name="ItemsChecked" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="Items">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ItemsItem" type="tns:ItemsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemsItem">
    <xs:attribute name="Checked" type="xs:boolean" />
    <xs:attribute blend:FormatParameters="12,8" name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Attachments">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="AttachmentsItem" type="tns:AttachmentsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttachmentsItem">
    <xs:attribute blend:FormatParameters="Assets\Icons\dark" name="PreviewUri" type="tns:Basic-Image" />
    <xs:attribute blend:FormatParameters="6,8" name="Name" type="xs:string" />
    <xs:attribute blend:Format="Date" name="Date" type="xs:string" />
    <xs:attribute blend:FormatParameters="1,3" name="Extension" type="xs:string" />
    <xs:attribute blend:FormatParameters="6" name="Bytes" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="Members1">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="MembersItem1" type="tns:MembersItem1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MembersItem1">
    <xs:attribute name="AvatarHash" type="xs:string" />
    <xs:attribute blend:Format="Username" name="Username" type="xs:string" />
    <xs:attribute blend:Format="Name" name="FullName" type="xs:string" />
    <xs:attribute name="Active" type="xs:boolean" />
    <xs:attribute blend:FormatParameters="32,8" name="Bio" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Activities">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ActivitiesItem" type="tns:ActivitiesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActivitiesItem">
    <xs:sequence>
      <xs:element name="Data" type="tns:Data" />
    </xs:sequence>
    <xs:attribute blend:Format="Date" name="Timestamp" type="xs:string" />
    <xs:attribute blend:Format="Name" name="Username" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Data">
    <xs:sequence>
      <xs:element name="Board" type="tns:Board" />
      <xs:element name="Card" type="tns:Card" />
      <xs:element name="Checklist" type="tns:Checklist" />
      <xs:element name="List" type="tns:List" />
    </xs:sequence>
    <xs:attribute name="Text" type="xs:string" />
    <xs:attribute blend:Format="Date" name="DateLastEdited" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Board">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Card">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Checklist">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="List">
    <xs:attribute name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="SimpleActivity">
    <xs:sequence>
      <xs:element name="Member" type="tns:Member" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="4,3" name="Action" type="xs:string" />
    <xs:attribute name="TargetName" type="xs:string" />
    <xs:attribute name="ActionName" type="xs:string" />
    <xs:attribute blend:Format="Date" name="Date" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Member">
    <xs:attribute blend:Format="Name" name="FullName" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="CommentActivity">
    <xs:sequence>
      <xs:element name="Member" type="tns:Member1" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="4,12" name="Text" type="xs:string" />
    <xs:attribute blend:Format="Date" name="Date" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Member1">
    <xs:attribute blend:Format="Name" name="FullName" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="MyCards">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="MyCardsItem" type="tns:MyCardsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MyCardsItem">
    <xs:sequence>
      <xs:element name="Collection" type="tns:CollectionItemCollection" />
    </xs:sequence>
    <xs:attribute name="Key" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="CollectionItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CollectionItem" type="tns:CollectionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CollectionItem" />
</xs:schema>